header {
    nav {
        background-color: $backgroundColor;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        z-index: 1;
        img {
            width: 60px;
        }
    }
    @media (min-width: 992px) {
        position: fixed;
        top: 0;
        width: 100%;
    }
    #divider {
        visibility: hidden;
        @media (min-width: 992px) {
            visibility: visible;
            margin-right: 5px;
        }
    }

    #hamburgerMenu {
        border: 0;
    }
}

footer {
    img {
        width: 60px;
        display: block;
        margin: 20px auto 10px auto;
    }
}